.page-container {
  background-color: #1a242f;
  padding: 16px;
}

.no-results {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  color: #ec0a0a;
  margin-top: 24px;
}

.movies-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-left: 0px;
}

@media (min-width: 600px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-title {
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-title {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .movies-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
